html,
body,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6{
    padding: 0;
    margin: 0;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    border-top: 6px solid #2D7BB3;
    padding: 1em 2.5em;
    height: inherit;
    font-family: 'Open Sans', sans-serif;
}
._widget-container_{
    /*display: none;*/

    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

.widget-row:after {
  content: "";
  display: table;
  clear: both;
}

.show {
    /*display: block;*/
    opacity: 1;
}

.widget{
    padding: .5em;
    margin-bottom: 1em;
    margin-right: 20px;
}

.widget + * {
    margin-right: 0;
}

.widget--left{
    float: left;
}

.widget--right{
    float: right;
}

.widget--full{
    width: 100%;
}

.widget--half{
    width: 50%;
}

.widget--small{
    width: 25%;
}