@font-face {
	font-family: 'time-of-day-icons';
	src:url('fonts/time-of-day-icons.eot?pr8f7r');
	src:url('fonts/time-of-day-icons.eot?#iefixpr8f7r') format('embedded-opentype'),
		url('fonts/time-of-day-icons.woff?pr8f7r') format('woff'),
		url('fonts/time-of-day-icons.ttf?pr8f7r') format('truetype'),
		url('fonts/time-of-day-icons.svg?pr8f7r#time-of-day-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'time-of-day-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-afternoon:before {
	content: "\e600";
}
.icon-early-morning:before {
	content: "\e601";
}
.icon-evening:before {
	content: "\e602";
}
.icon-morning:before {
	content: "\e603";
}
