@font-face {
	font-family: 'weather-icons';
	src:url('fonts/weather-icons.eot?-mglz33');
	src:url('fonts/weather-icons.eot?#iefix-mglz33') format('embedded-opentype'),
		url('fonts/weather-icons.woff?-mglz33') format('woff'),
		url('fonts/weather-icons.ttf?-mglz33') format('truetype'),
		url('fonts/weather-icons.svg?-mglz33#weather-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'weather-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-afternoon:before {
	content: "\e600";
}
.icon-cloudy-alt:before {
	content: "\e601";
}
.icon-cloudy:before {
	content: "\e602";
}
.icon-evening:before {
	content: "\e603";
}
.icon-mist:before {
	content: "\e604";
}
.icon-morning:before {
	content: "\e605";
}
.icon-overcast:before {
	content: "\e606";
}
.icon-rainy:before {
	content: "\e607";
}
.icon-snowy:before {
	content: "\e608";
}
.icon-sunny:before {
	content: "\e609";
}
.icon-thunder:before {
	content: "\e60a";
}
.icon-windy:before {
	content: "\e60b";
}
