.current-weather-container{
    text-align: right;
}

.loading-message{
    color: #AAA;
}

.temp-format{
    font-size: .6em;
}

.weather-data{
    font-weight: lighter;
}

.weather-data--primary{
    font-size: 2.6em;
}

.weather-data--secondary{
    font-size: .85em;
    color: #AAA;
}