// dashboard

.loading-message{
    text-align: center;
    color: #AAA;
}

._widget-container_{
    /*display: none;*/
    opacity: 0;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

.widget-row:after,
.widget-container {
  content: '';
  display: table;
  clear: both;
}

.show {
    /*display: block;*/
    opacity: 1;
}

.widget{
    padding: .5em;
    margin-bottom: 1em;
    margin-right: 20px;
}

.widget + * {
    margin-right: 0;
}

.widget-container--middle{
    margin: 0 auto;
}

.widget--left{
    float: left;
}

.widget--right{
    float: right;
}

.widget--full{
    width: 100%;
}

.widget--half{
    width: 50%;
}

.widget--small{
    width: 25%;
}
