// global.scss

html,
body,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    border-top: 6px solid #2D7BB3;
    font-family: 'Open Sans', sans-serif;
    height: inherit;
    padding: 1em 2.5em;
  	font-size: 1.45em;

    @media screen and (min-width: 82em){
        font-size: 1em;
    }
}
