.clock-widget-container{}

.clock-widget-clock{
    font-weight: 300;
    font-size: 48px;
}

.clock-seconds{
    color: #DDD;
    opacity: .65;
    font-size: 24px;
}

.date-section{
    margin-right: .3em;
}