.day-forecast{
    float: left;
    margin-right: 2.5em;
}

.day-forecast:last-child{
    margin-right: 0;
}

.forecast-icon{
    height: 5em;
    width: 5em;
}

.forecast-icon .icon{
    padding: .13em;
    font-size: 4em;
}

.forecast-details{
    padding: .5em;
    text-align: center;
    font-weight: 300;
}

.forecast-details--description{
    color: #AAA;
}

.forecast-details--temp-format{
    font-size: .6em;
}

.forecast-day{
    margin-bottom: .4em;
}