.day-forecast{
    float: left;
    margin-right: 1.5em;
    padding: .4em;
    width: 12.75%;
}

.day-forecast:last-child{
    margin-right: 0;
}

.day-forecast--today{
    background: #2D7BB3;
    color: #FFF;
}

.forecast-icon{
    height: 5em;
    width: 5em;
    margin: 0 auto;
}

.forecast-icon .icon{
    padding: .13em;
    font-size: 4em;
}

.forecast-details{
    padding: .5em;
    text-align: center;
    font-weight: 300;
}

.forecast-details--description{
    opacity: .4;
}

.forecast-details--temp-format{
    font-size: .6em;
}

.forecast-day{
    margin-bottom: .4em;
}
